<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Enter your Destination to find a flight </label>
        <input type="text" class="form-control" [(ngModel)]="destinationFlight" name="destinationFlight" class="form-control">
        <button type="submit" (click)="rechercherFlights()" class="btn btn-primary mb-2 ml-2">Search</button>
        </div>
        </form>
        
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th> Code</th> <th>Depart</th> <th>Destination</th> <th>Date</th><th>number of seats</th> <th>airline</th></tr>
    <tbody *ngFor="let flight of flights">
        <tr >
            <td>{{flight.idFlight}}</td>
            <td>{{flight.codeFlight}}</td>
            <td>{{flight.departFlight}}</td>
            <td>{{flight.destinationFlight}}</td>
            <td>{{flight.dateFlight  | date:'dd/MM/yyyy'}}</td>
            <td>{{flight.numberofseatsFlight}}</td>
            <td>{{flight.airline.nameAirline}}</td>
            
            <td><a class="btn btn-success" [routerLink]="['/updateflight',flight.idFlight]" >Update</a></td>
            <td><a class="btn btn-danger" (click)="deletef(flight.idFlight)">Delete</a></td>
            <td><a class="btn btn-dark" routerLink="/tickets">choose</a></td>

            </tr>
    </tbody>
    </table>
    </div>
    </div>
</div>