<div class="container">
    <div>
    <h2>Add tickets Available</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID </label>
        <input type="text" [(ngModel)]="newTicket.idTicket"
        name="idTicket" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Code </label>
            <input type="text" [(ngModel)]="newTicket.codeTicket"
            name=" codeTicket" class="form-control">
            </div>


            <div class="col-sm-2 col-md-2 col-lg-2">
                <label >Type </label>
                <input type="text" [(ngModel)]="newTicket.typeTicket"
                name=" typeTicket" class="form-control">
                </div>
            

                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label >amount </label>
                    <input type="text" [(ngModel)]="newTicket.amountTicket"
                    name=" amountTicket" class="form-control">
                    </div>


                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <label >number </label>
                        <input type="text" [(ngModel)]="newTicket.nbrTicket"
                        name=" numberTicket" class="form-control">
                        </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>Destination</label>
                        <select class="form-control form-control-lg" id="idFlight" name="idFlight" [(ngModel)]="newIdflight">
                         <option *ngFor="let fly of flights" [value]="fly.idFlight" >
                         {{fly.destinationFlight}}
                        </option>
                        </select>
                    </div>
        
        
        <div class="mt-2">
        <button type="submit" class="btn btn-success" (click)="AddTicketavailable()">Add</button>
        </div>
        </form>
        </div>