<div style="height: 50px;"></div>
<div class="container">
  <h1 class="text-center"></h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <h2>Statics<i class="fas fa-tint"></i></h2>
          </div><br><br>

        </div>
      </div>
    </div>

    <hr>


  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-users"></i>
          </div><br>
          <div>
            <b> Total Passengers</b> <br>
            {{countPassenger}}
          </div>

          <b></b>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-spinner"></i>
          </div><br>
          <div>
            <b> Total Flights</b>
            <br>
            {{countFlight}}
          </div>
          <b></b>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-tint xyz"></i>
          </div>
          <br>
          <div>
            <br><b>Total Airlines</b>
          </div>
          {{countAirline}}
          <b></b>

        </div>
      </div>
    </div>
  </div>
</div>